@import "skeleton.css";


/* Variables and re-usability */
@icon-font-size: 5.0rem;
@default-padding: 4.5rem;
@orange: #fd863f;
@shadow-grey: #7b6a6a;
@font-gray: lighten(black, 28%);
@error-red: #a94442;

body {
    margin-bottom: @default-padding * 2;
    color: @font-gray;
}

img {
  display: block;
  max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.spaced-section {
  margin-top: @default-padding;
}

.center {
    margin: 0 auto !important;
    float: none;
}

.centered-text {
	text-align: center;
}

.larger-text {
    font-size: 125%;
}

.rounded-corners {
	border-radius: 20px;
}

.hidden {
	visibility: hidden;
}

/* Global Settings */
a {
    text-decoration: none;
    color: desaturate(color(@orange), 40%);
}

a:hover {
    cursor: pointer;
    color: @orange;
}

/* Skeleton blue outline override */
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid @orange;
    outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	color: @shadow-grey;
}

/* Header styles */
.header {
    padding-top: @default-padding * 3;
    padding-bottom: @default-padding * 3;
    color: white;
    background-color: @orange;
    box-shadow: inset 0px -5px 10px 0px @shadow-grey;
}

.header .container .row {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 {
  text-align: center;
  margin-bottom: @default-padding;
}

.header h1 span {
    text-shadow: -4px 4px @shadow-grey;
    vertical-align: middle;
}

@media (min-width: 550px) {
  .header h1 {
    text-align: left;
  }
}

.header h1 span:nth-child(even) {
    padding: 10px;
    .larger-text;
}

.main {
   .spaced-section;
}

.main .description {
    .larger-text;
}

.main .intro-text {
  font-size: 1.4em;
}

.lower-icon {
    font-size: @icon-font-size;
}

.links a div {
    margin-top: 1.5rem;
}

/** Timeline Styles **/
.timeline ul {
  border-left: 6px solid @orange;
}

.timeline ul li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.timeline ul li::before, .timeline ul li::after {
    position: absolute;
    display: block;
}

.timeline ul li::before, .timeline ul li:last-of-type::after  {
  content: '';
  transform: translateX(-50%);
  border-radius: 50%;
}

.timeline ul li::before {
  top: -2px;
  width: 12;
  height: 12px;
  background: white;
  border: 6px solid @orange;
  left: -3px;
}

.timeline ul li:last-of-type::after  {
  bottom: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  background: @orange;
}

.timeline ul li div {
  position: relative;
  top: -10px;
}

form textarea {
	max-width: 100%;
	max-height: 100%;
}

/* Forms */
.has-error input {
    border-color: @error-red !important;
}
