@import "skeleton.css";


/* Variables and re-usability */
@icon-font-size: 5.0rem;
@default-padding: 4.5rem;
@orange: #fd863f;
@shadow-grey: #7b6a6a;
@font-gray: lighten(black, 25%);
@error-red: #a94442;

body {
    color: shadow-grey;
    margin-bottom: @default-padding * 2;
}

img {
  display: block;
  max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.spaced-section {
  margin-top: @default-padding;
}

.center {
    margin: 0 auto !important;
    float: none;
}

.centered-text {
	text-align: center;
}

.larger-text {
    font-size: 125%;
}

.rounded-corners {
	border-radius: 20px;
}

.hidden {
	visibility: hidden;
}

/* Global Settings */
a {
    text-decoration: none;
    color: desaturate(color(@orange), 40%);
}

a:hover {
    cursor: pointer;
    color: @orange;
}

.parrallax-slide {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Skeleton blue outline override */
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid @orange;
    outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	color: @shadow-grey;
}

/* Header styles */
.header {
    padding-top: @default-padding * 3;
    padding-bottom: @default-padding * 3;
    color: white;
    background-color: @orange;
    box-shadow: inset 0px -5px 10px 0px @shadow-grey;
}

.header .container .row {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 span {
    text-shadow: -4px 4px @shadow-grey;
    vertical-align: middle;
}

.header h1 span:nth-child(even) {
    padding: 10px;
    .larger-text;
}

.main {
   .spaced-section;
}

.main .description {
    .larger-text;
}

.main .intro-text p {
  font-size: 1.4em;
  color: @font-gray;
}

.lower-icon {
    font-size: @icon-font-size;
}

.links a div {
    margin-top: 1.5rem;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-container {
    position: relative;
    top: @default-padding;
}

.modal-content {
    .center;
    .rounded-corners;
    min-width: 300px;
    background: white;
    box-shadow: 0px 0px 6px 6px #313131;
    padding: 16px;
    content: @shadow-grey;
}

.modal-content label, h2 {
    color: @shadow-grey;
}

form textarea {
	max-width: 100%;
	max-height: 100%;
}

/* Forms */
.has-error input {
    border-color: @error-red !important;
}
